* {
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#052051;
    /* background-color: #adb5bd; */
    background: linear-gradient(to right, #a9d3a1 45%, #a1bbd3);
    margin: 0;
}
.contenedor {
    overflow: auto;
}

/* Lado izquierdo */
.entrada {
    float: left;
    width: 70%;
    /* background-color:#a9d3a1; */
}

.logo {
    padding: 1em 0;
    /* background-color:#d3a1a1; */
    /* padding:15px; */
}

.texto {
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto textarea {
    background: none;
    border: none;
    outline: none;
    resize: none;
    width: 80%;
    font-size: 2em;
    line-height: 1.5;
    padding: 1em;
    color: #052051;
}

.texto textarea::placeholder {
    color: #072b61;
}

.botones {
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    gap: 5em;
}

.botones button:first-child, .botones button:last-child {
    width: 328px;
    height: 67px;
    font-size: 1.2em;
    border-radius: 25px;
    cursor: pointer;
}

.botones button:first-child {
    background-color: #052051;
    color: white;
    border: 2px solid #052051;
}

.botones button:first-child:hover {
    opacity: 0.8;
}

.botones button:last-child {
    background-color: white;
    color: #052051;
    border: 2px solid #052051;
}

.botones button:last-child:hover {
    background-color: #aab2d5;
    color: #052051;
}

/* Lado derecho */
.salida {
    float: left;
    width: 30%;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    /* background-color:#a1bbd3; */
}

.mostrar-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    margin: 1em;
    border-radius: 35px;
    background-color: #ffffff90;
}

.mostrar-imagen img {
    width: 80%;
    margin: 0;
}

.mostrar-imagen h2, .mostrar-imagen p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.mostrar-imagen p {
    padding: 0 1em;
    color: #495057;
}

.mostrar-texto {
    padding-top: 2em;
    /* background-color:#ced3a1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mostrar-texto textarea {
    /*background: none;*/
    border: none;
    border-radius: 25px;
    outline: none;
    resize: none;
    width: 80%;
    font-size: 2em;
    line-height: 1.5;
    padding: 1em;
}


.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.boton button:first-child {
    width: 328px;
    height: 67px;
    font-size: 1.2em;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    color: #052051;
    border: 2px solid #052051;
}

.boton button:first-child:hover {
    background-color: #aab2d5;
    color: #052051;
}

/*=============================================
COMPUTADORA
=============================================*/

@media (max-width:1440px) and (min-width:1225px){

    /**/
    .entrada {
        height: 100vh;
    }

    /**/
    .salida {
        height: 100vh;
    }
}

@media (max-width:1224px) and (min-width:992px){

    /**/
    .entrada {
        width: 60%;
    }

    .botones button:first-child, .botones button:last-child {
        width: 228px;
        height: 67px;
        font-size: 1.2em;
        border-radius: 25px;
        cursor: pointer;
    }

    /**/
    .salida {
        width: 40%;
    }

    .boton button:first-child {
        width: 228px;
        height: 67px;
    }

    .mostrar-imagen {
        height: 590px;
    }

}

/*=============================================
TABLET
=============================================*/

@media (max-width:991px) and (min-width:768px){

    body {
        background: linear-gradient(#a9d3a1 45%, #a1bbd3);
    }

    /**/
    .entrada {
        float: left;
        width: 100%;
    }

    .texto {
        height: 70vh;
    }

    .texto textarea {
        height: 100%;
    }

    /**/
    .salida {
        float: left;
        width: 100%;
    }

    .mostrar-texto {
        height: 30vh;
    }

    .mostrar-texto textarea {
        height: 100%;
    }

    .mostrar-imagen img {
        display: none;
    }

}

/*=============================================
MÓVIL
=============================================*/

@media (max-width:767px){

        body {
            background: linear-gradient(#a9d3a1 45%, #a1bbd3);
        }

        /**/
        .entrada {
            float: left;
            width: 100%;
        }
    
        /**/
        .salida {
            float: left;
            width: 100%;
        }

        .botones {
            display: flex;
            flex-direction: column;
            gap: 2em;
        }

        .mostrar-imagen img {
            display: none;
        }
}